import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
} 

.top{
    display: flex;
    align-items: center;
    /* padding: 20px 0px; */
    background-color: white;
}


.top-left{
    width: 30%;
    display: flex;
    justify-content: center;
}

.logo{
    font-size: 40px;
    font-weight: 600;
}

.top-mid{
    width: 40%;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    /* margin: auto; */
    border: none;
    outline: none;
}
.search{
    width: 60%;
    padding: 10px 20px;
}

.top-btn{
    padding: 15px 20px;
    cursor: pointer;
}

.top-btn:hover{
    background-color:gold;
 
}


.top-right{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-right>img,.top-right>p{
    margin-left: 10px;
}



nav{
    display: flex;
    justify-content: center;
    background-color: black;

}
.navbar{
    width: 80%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar>a{
    font-size: 22px;
    font-weight: 100;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 20px 30px;
}

.navbar>a:hover{
    background-color:white;
    color: black;

}


.hero-section{
    background-image: url(images/joshua-chun-y_gFnFzr0HY-unsplash.jpg);
    height: 950px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-content{
    background-color: rgba(255, 255, 255, 0.8);
    width: 40%;
    height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 200px;
    margin-left: 20px;
    padding: 20px;

}

.hero-content>h1{
    font-size: 80px;
    margin-top: 50px;
    margin-bottom: 0;
}

.hero-content>p{
    font-size: 30px;
    /* margin-top: 20px; */
}

.hero-content>button{
    margin-top: 20px;
    width: 150px;
    padding: 15px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    /* border: none; */
}

.hero-content>button:hover{
    background-color: white;
    color: black;
}


/* Insta Section */

.model-container{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}
.model{
    width: 350px;
    margin: 10px;
}
.model>img{
    width: 100%;
}

/* card section */

.card-container{
    display: flex;
    justify-content: space-around;
}

.card-section{
    padding: 50px;
}

.card-section>h1{
    text-align: center;
    font-size: 40px;
    margin: 30px 0px;
    /* width: 20%; */
    /* border: 4px solid black; */
    padding: 10px;
}




.card{
    display: flex;
    flex-direction: column;
    width: 30%;
    /* background-color: aqua; */
    /* height: 200px; */
    padding-bottom: 50px;
}

.card-img>img{
    height: 400px;
    width: 100%;
}
.card-content>h2{
font-size: 40px;
margin-top: 10px;
}

.card-content>p{
    font-size: 25px;
    margin-top: 10px;
}


.brand-section{
    background-color: #404040;
    /* padding-left: 10%; */
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}



.footer-section{
    color: white;
    background-color: black;
    display: flex;
    align-items: flex-start;
    height: 300px;
    padding-top: 50px;
}

.foot-left{
    width: 30%;
    margin-left: 50px;
}

span>p{
    font-size: 25px;
    margin-top: 15px;
    color: #C0C0C0;
    font-weight: 100;
}


.foot-mid{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.foot-mid-1>h2,.foot-mid-2>h2,.foot-right>h2{
    font-size: 30px;
    /* margin-bottom: 20px; */
}

.foot-right{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.foot-sub{
    width: 100%;
    margin-top: 20px;
}
.input-sub{
    padding: 10px 20px;
}
.foot-btn{
    padding: 10px 20px;
}